# Should be done by package-manager.
check_for_updates_on_startup 0
new_instance 1
horizontal_move_amount -1
super_fast_search 1
prerendered_page_count 10
fit_to_page_width 1

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"

# new_command _two_column_view "fit_to_page_width; zoom_in; zoom_in; zoom_in; zoom_in"
